<h2>Доступ запрещен</h2>

<p>Вы не имеете доступа к этой странице или действию. Для получения прав обратитесь к администратору.</p>

<a asp-controller="Contracts" asp-action="Index">На главную страницу</a>